#root {
  width: 100%;
}

/* Custom styles for gym website */
a {
  transition: color 0.3s ease;
}

/* Add hover animations for interactivity */
.hover-grow {
  transition: transform 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.03);
}

/* Smooth transitions */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
